{% extends "base.html" %}
{% block content %}
<h1>Loki</h1>

<div id="gamefeed"> 
    TODO populate this div with games from db.

<!--    <table>
        <thead>
            <tr>
                <td>Game name</td>
                                <td>Result</td>
                                <td>Winner</td>
                                <td>Loser</td>  
                <td></td>

            </tr>

        </thead>
        <tbody>
            {% for peli in games %}
            <tr>
                <td>{{peli.name}}cc</td>
                <td>{{peli.is_over_yet}} aa</td>
                {% if peli.is_over_yet %}
        <p>Peli loppunut</p>
        {% else %}
        <p>Peli kesken</p>
        {% endif %}
        <td><a href="{{base_path}}/detailedgameinfo/{{peli.id}}">Show more</a>bb</td>


        </tr>
        {% endfor %}



        </tbody>
    </table>-->

        {% for i in 0..10 %}
        <!--<p>{{ i }}</p>-->
        {% endfor %}

</div>


{% endblock %}