{% extends "base.html" %}
{% block content %}

<h1>Game On</h1>
<form>
    <h4>Valitse korttisi</h4>
    <select name="KortinValitsin">
        <option>Rock</option>
        <option>Paper</option>
        <option>Scissors</option>
        <option>Lizard</option>
        <option>Spock</option>
    </select>
    <h4>Valitse pelisi</h4>
    <select name="GameSelector">
        <option>Random</option>
        {% for game in openGames %}
        <option>{{ game.name }}</option>
        {% endfor %}
<!--        {% for i in 0..10 %}
        <option>{{i}}</option>
        {% endfor %}-->
        <option>Epic gurula game</option>
        <option>Competitive Navetta League</option>
         <!--TODO hae tähän avoimet pelit tietokannasta-->
    </select>
    <br/>
    <input type="submit" value="Submit" name="submit" />
</form>
{% endblock %}