{% extends "base.html" %}
{% block content %}
<!--TODO: tyylittely-->
<h1>Game On</h1>
<!--TODO: tomiva peliin liittyminen-->

<div>{{message}}</div>

<form method="post" action="{{base_path}}/joingame">
    <h4>Valitse korttisi</h4>
    <select name="KortinValitsin">
        <option value="1">Scissors</option>
        <option value="2">Paper</option>
        <option value="3">Rock</option>
        <option value="4">Lizard</option>
        <option value="0">Spock</option>
    </select>
    <h4>Valitse pelisi</h4>
    <select name="GameSelector">
        <option value="-20">Random</option>
        {% for game in openGames %}
        <option value="{{ game.id }}">{{ game.name }}</option>
        {% endfor %}
<!--        {% for i in 0..10 %}
        <option>{{i}}</option>
        {% endfor %}-->
<!--        <option>Epic gurula game</option>
        <option>Competitive Navetta League</option>-->
         <!--TODO hae tähän avoimet pelit tietokannasta-->
    </select>
    <br/>
    <button type="submit" >Submit</button> 
</form>
{% endblock %}