{% extends "base.html" %}
{% block content %}
<!--TODO: tyylittely-->
<h1>Tilastot</h1>
<h4>Show options</h4>
<div>

    <ul class="floatingList">
        <li>Won <input type="checkbox" name="Won" value="ON" checked="checked" /></li>
        <li>Ties <input type="checkbox" name="Ties" value="ON" checked="checked" /></li>
        <li>Lost <input type="checkbox" name="Lost" value="ON" checked="checked" /></li>
        <li>Elo <input type="checkbox" name="Elo" value="ON" checked="checked" /></li>
        <li>Best Streak <input type="checkbox" name="Best Streak" value="ON" checked="checked" /></li>
        <li>Current Streak <input type="checkbox" name="Current Streak" value="ON" checked="checked" /></li>
        <li>Avarage Streak <input type="checkbox" name="Avarage Streak" value="ON" checked="checked" /></li>

    </ul>
</div>
<table class="ladders" sortable="true" id="tilasto">
    <tr>
        <th>Rank</th>
        <th >Nickname</th>
        <th >Won</th>
        <th >Ties</th>
        <th >Lost</th>
        <th >Elo</th>
        <th >Best Streak</th>
        <th >Current Streak</th>
        <th >Avarage Streak</th>
    </tr>

    <tr>
       

    </tr>


    <tr >
        <td>1</td>
        <td>Omppu</td>
        <td>999</td>
        <td>10</td>
        <td>2</td>
        <td>2140</td>
        <td>997</td>
        <td>997</td>
        <td>997</td>
    </tr>

    <tr>
        <td>2</td>
        <td>TEster</td>
        <td>51</td>
        <td>3</td>
        <td>501</td>
        <td>23</td>
        <td>41</td>
        <td>45</td>
        <td>47</td>
    </tr>

    <tr>
        <td>3</td>
        <td>TEster1</td>
        <td>52</td>
        <td>4</td>
        <td>502</td>
        <td>22</td>
        <td>42</td>
        <td>46</td>
        <td>48</td>
    </tr>
    <tr>
        <td>4</td>
        <td>TEster2</td>
        <td>53</td>
        <td>5</td>
        <td>503</td>
        <td>21</td>
        <td>43</td>
        <td>47</td>
        <td>48</td>
    </tr>


</table>




{% endblock %}