{% extends "base.html" %}
{% block content %}
<!--TODO: tyylittely-->


<h2>Login</h2>

<form method="post" action="{{base_path}}/login">
    <label>Username</label>
    <input name="playername" type="text" class="form-control" placeholder="Enter username" required="true"/>
    <br/>

    <label>Password</label>
    <input name="password" type="password" class="form-control" name="password" required="true" placeholder="Enter password" />
    <br/>
    <input type="checkbox" class="form-control" checked="checked"/> 
    <p>Remember me</p>

    <button type="submit" class="btn btn-primary"> Submit</button>

</form>


{% endblock %}