{% extends "base.html" %}
{% block content %}



<h2>Login</h2>

<form>
    <label>Username</label>
    <input type="text" class="form-control" placeholder="Enter username" required="true"/>
    <br/>

    <label>Password</label>
    <input type="password" class="form-control" name="password" required="true" placeholder="Enter password" />
    <br/>
    <input type="checkbox" class="form-control" checked="checked"/> 
    <p>Remember me</p>

    <button type="submit" class="btn btn-primary"> Submit</button>

</form>


{% endblock %}