{% extends "base.html" %}
{% block content %}
<!--TODO: tyylittely-->

<h1><b>Omat tiedot</b></h1>
{% if user_logged_in %}
{% if user_logged_in == player %}
<button type="button" onclick="EditClick()" name="editButton">Edit</button>
{% endif %}
{% endif %}
<div id="edibleparts" style="display: none">
    <form>
        <input type="text" placeholder="{{ player.name }}"/>
        <br/>
        <input type="email" placeholder="{{ player.email }}"/>
        <br/>
        <button type="submit" name="save_data">Save data</button>
    </form>

    <form method="post" action="{{base_path}}/personalinfo/{{player.id}}/delete">
        <label>Enter password </label>
        <p style="display: none">if you thing I can survive with out every user, you cruel one...
            Ilmaiset serverit ei maksa itseään, you know?</p>
        <br/>
        <input type="password" placeholder="Enter password"/> 
        <button type="submit" name="delete_account">Delete account</button>
    </form>
</div>
<div id="unedibleinformations" onmousemove="lataaUudelleenLiikeella()">
    <!--TODO: GET DATA FROM DB!!!-->
    <p><b>Nimimerkki: {{ player.name }}</b></p> 
    <p><b>Email: {{ player.email }}</b></p>
    <p><b>Won: {{ playerStats.won }}</b></p>
    <p><b>Lost: {{ playerStats.lost }}</b></p>
    <p><b>Tie: {{ playerStats.tie }}</b></p>
    <p><b>Elo: {{ playerStats.elo }}</b></p>
    {% if playerStats.nemesis != null %}
    <p><b>Arkkivihollinen: {{ playerStats.nemesis }}</b></p> 
    {% endif %}
    <!--TODO: Hae nemesiksen nimi eikä id...-->
    <p><b>Favorite card: {% if playerStats.fav_card == -1%} Pelaa enemmän... {% elseif playerStats.fav_card == 0 %} Spock 
            {% elseif playerStats.fav_card == 1 %} Sakset {% elseif playerStats.fav_card == 2 %} Paperi
            {% elseif playerStats.fav_card == 3 %} Kivi {% elseif playerStats.fav_card == 4 %} Lisko {% endif %}</b></p>
    <p><b>Best streak: {{ playerStats.best_streak }}</b></p>
    <p><b>Current streak: {{ playerStats.curr_streak }}</b></p>
    <p><b>Avarage streak: {{ playerStats.avg_streak }}</b></p>


</div>



<script>
       var eleA =  document.getElementById("unedibleinformations");
        var eleB = document.getElementById("edibleparts");
        var is_edible_in_scene = false;
        
    function EditClick(){
//               .style.display = "auto";
//                .style.display = "auto";
        
        if(is_edible_in_scene){
        console.log('moi');
            eleB.setAttribute("style", "display: none;");
            eleA.setAttribute("style", "display: auto;");
            is_edible_in_scene = false;
        }else{
             console.log('moi2');
            eleB.setAttribute("style", "display: auto;");
            eleA.setAttribute("style", "display: none;");
            is_edible_in_scene = true;
        }
    }
    
    
    
    var onkoHiiriLiikkunut = false;
    
    function lataaUudelleenLiikeella(){
        onkoHiiriLiikkunu
        
    }
    
    
</script>


{% endblock %}