{% extends "base.html" %}
{% block content %}

<h1><b>Omat tiedot</b></h1>
<button type="button" name="editButton">Edit</button>
<div id="edibleparts" style="display: none">
    <form>
        <input type="text" placeholder="get username from db"/>
        <br/>
        <input type="email" placeholder="get email from db"/>
        <br/>
        <button type="submit">Save data</button>
    </form>

    <form>
        <label alt="Ilmaiset serverit ei maksa itseään, you know?">Enter password if you thing I can survive with out every user, you cruel one...</label>
        <input type="password" placeholder="Enter password"/> 
        <button type="submit">Delete account</button>
    </form>
</div>
<div id="unedibleinformations">
    <!--TODO: GET DATA FROM DB!!!-->
    <p><b>Nimimerkki: {{ player.name }}</b></p> 
    <p><b>Email: {{ player.email }}</b></p>
    <p><b>Won: {{ playerStats.won }}</b></p>
    <p><b>Lost: {{ playerStats.lost }}</b></p>
    <p><b>Tie: {{ playerStats.tie }}</b></p>
    <p><b>Elo: {{ playerStats.elo }}</b></p>
    <p><b>Arkkivihollinen: {{ playerStats.nemesis }}</b></p> 
    <!--TODO: Hae nemesiksen nimi eikä id...-->
    <p><b>Favorite card: {% if playerStats.fav_card == -1%} Pelaa enemmän... {% elseif playerStats.fav_card == 0 %} Spock 
            {% elseif playerStats.fav_card == 1 %} Sakset {% elseif playerStats.fav_card == 2 %} Paperi
            {% elseif playerStats.fav_card == 3 %} Kivi {% elseif playerStats.fav_card == 4 %} Lisko {% endif %}</b></p>
    <p><b>Best streak: {{ playerStats.best_streak }}</b></p>
    <p><b>Current streak: {{ playerStats.curr_streak }}</b></p>
    <p><b>Avarage streak: {{ playerStats.avg_streak }}</b></p>


</div>





{% endblock %}