{% extends "base.html" %}
{% block content %}
<!--TODO: tyylittely-->
<h2>Register</h2>

<form method="post" action="{{base_path}}/register">
    <label>Username</label>
    <input id="name" name="username" type="text" placeholder="Enter username" required="true"/>
    <br/>

    <label>Password</label>
    <input id="password" name="password" type="password" name="password" required="true" placeholder="Enter password" />
    <br/>

    <label>Password again</label>
    <input id="password1" name="password" type="password" name="password" required="true" placeholder="Enter password again" />
    <br/>

    <label>Email</label>
    <input id="email" name="email" type="email" placeholder="Enter email" required="false"/>
    <br/>

    <label>Email again</label>
    <input id="email1" onchange="isSame(email)" name="email" type="email" placeholder="Enter email" required="false"/>
    <br/>
    <!--TODO: mahdollinen oma suolan ja pippurin lisäys-->

    <button type="submit" name="Submit" >Submit</button> 

</form>


<script>
    
    
//    TODO: make some sense... Tee toimiva vertailu ennen submittia.
    function isSame(name){
        var fields = document.getElementByName(name).querySelectorAll();
        
    }
    
    
    
</script>


{% endblock %}